@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

@font-face {
  font-family: 'Mooxy';
  src: url('/fonts/mooxy.ttf')
}


@font-face {
  font-family: 'Aonic-Medium';
  src: url('/public/fonts/Aonic-Medium.ttf');
}

@font-face {
  font-family: Vcr;
  src: url('/fonts/VCR_OSD_MONO_1.001.ttf');
  font-display: swap;
}

@theme {
  --font-vcr: Vcr, "sans-serif"
}

@theme {
  --font-inter: Inter, "sans-serif"
}
@theme {
  --font-figtree: Figtree,'sans-serif';
}

@import "tailwindcss";
@import "tailwindcss/preflight.css" layer(base);



/* Hide scrollbar but keep scrolling */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE/Edge */
  scrollbar-width: none;     /* Firefox */
}

.custom-scroll::-webkit-scrollbar {
  width: 8px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 9999px;
  border: 2px solid #f1f1f1;
}

.custom-scroll::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* For Firefox */
.custom-scroll {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
}

