@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

@font-face {
  font-family: 'Mooxy';
  src: url('/fonts/mooxy.ttf')
}


@font-face {
  font-family: 'Aonic-Medium';
  src: url('/public/fonts/Aonic-Medium.ttf');
}

@font-face {
  font-family: Vcr;
  src: url('/fonts/VCR_OSD_MONO_1.001.ttf');
  font-display: swap;
}

@theme {
  --font-vcr: Vcr, "sans-serif"
}

@theme {
  --font-inter: Inter, "sans-serif"
}
@theme {
  --font-figtree: Figtree,'sans-serif';
}

@import "tailwindcss";
@import "tailwindcss/preflight.css" layer(base);